body {
    background-color: #e7ecf2;
    margin-bottom: 50px;
}

.card {
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    border-radius: 4px;
    border-color: darkslateblue;
}

.swiper-container {
    overflow: hidden;
    position: relative;
    --swiper-navigation-color: darkslateblue;
    --swiper-navigation-size: 1rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1rem;
}

.map-elem {
    background: rgba(255, 255, 255,0.8);
    position: -webkit-sticky;
    position: sticky;
    color: darkslateblue;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    border-style: outset;
    border-width: 1px;
    border-radius: 4px;
    border-color: darkslateblue;
    margin-left: 4%;
    margin-right: 4%;
}

.map-elem:hover {
    color: navy;
}

.map-elem:active {
    box-shadow: inset -2px -2px 2px white, inset 2px 2px 2px grey;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    background: rgba(255, 255, 255,0.6);
    padding: 0.25rem;
}